.note {
  display: flex;
  flex-direction: column;
  clear: both;

  user-select: none;

  @apply pb-5 pt-5;

  &__header {
    @apply text-gray-100 text-3xl pb-4 font-bold;
  }

  @media (min-width: 768px) {
    &__header {
      @apply text-5xl;
    }
  }

  &__body {
    @apply pb-8;
  }

  &__bullet {
  }

  &__input {
    @apply font-bold;

    width: 100%;

    background-color: transparent;

    border: none;
    overflow: auto;
    outline: none;

    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
  }

  &__linked-references {
    @apply text-xl text-gray-400 mb-6;

    display: flex;
    align-items: center;
  }

  &__link-icon {
    @apply mr-2;
  }
}

.backlinked-note {
  @apply mt-5;

  position: relative;

  &__title {
    display: flex;

    &--expanded {
    }
  }

  &__arrow {
    transform: translateY(-0.23rem);

    @apply mr-2.5;

    &.arrow--expanded {
      transform: translateY(-0.3rem);
    }
  }

  &__noteblocks {
    display: none;

    @apply ml-4 mt-3;

    &--expanded {
      display: block;
    }
  }

  &__noteblock-root {
    @apply bg-gray-800 mt-3 px-4 py-2 rounded-md shadow-sm;

    &:first-child {
      @apply mt-0;
    }

    .note-block__child-blocks::before {
      @apply bg-gray-700;
    }
  }

  &__noteblock-path {
    @apply mb-2;
  }

  &__noteblock-path-step {
    display: inline;
    word-break: break-all;

    &:after {
      @apply mx-1.5;

      content: '->';

      white-space: nowrap;
    }

    &--last {
      &:after {
        content: '';
      }
    }
  }
}

.toolbar {
  @apply bg-gray-900 bg-opacity-90;

  display: flex;
  position: relative;

  backdrop-filter: blur(5px);

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
  }

  &__button {
    height: 4rem;

    flex: 1;
  }
}
