.note-block {
  @apply flex flex-col pb-1;

  &:last-child {
    @apply pb-0;
  }

  &__body {
    @apply flex;
  }

  &__dot {
    @apply flex items-start justify-end;

    @apply w-9;

    &::before {
      @apply mt-2 bg-pink-600 mr-3;

      width: 5px;
      height: 5px;

      content: '';
      border-radius: 100%;
    }
  }

  &__child-blocks {
    @apply box-border ml-4 pt-1 border-l border-pink-600;

    margin-left: calc(1rem + 2px);
  }

  &__content {
    @apply ring-pink-500 focus:outline-none focus:ring-2 rounded-sm;

    width: 100%;
    white-space: pre-wrap;
    min-height: 1rem;
    background: transparent;
    resize: none;
    min-height: 20px;
  }

  &__input {
    width: 100%;

    background-color: transparent;

    border: none;
    overflow: auto;
    outline: none;

    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
  }
}
