html,
body,
#root {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-900 text-gray-300;
  min-width: 320px;
  -webkit-overflow-scrolling: auto;
  overscroll-behavior-x: none;

  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}

body {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  @apply mt-6;

  &__field {
    display: flex;
    flex-direction: column;
    height: 100%;

    @apply mt-5;

    &:first-child {
      @apply mt-0;
    }
  }

  &__label {
    @apply ml-1 mb-2;
  }

  &__input {
    @apply bg-gray-800 px-3 py-3 rounded-lg focus:ring-2;
    outline: none;
  }

  &__error {
    @apply ml-2 mt-1 text-red-600;
  }

  &__submit-btn {
    display: block;

    width: 100%;

    cursor: pointer;

    outline: none;

    @apply bg-pink-800 rounded-lg shadow px-2 py-3;
    @apply font-bold mt-8 text-gray-100 focus:ring-2;

    &--loading {
    }

    &--dangerous {
      @apply bg-red-600 mt-5;
    }
  }

  &__sign-up-btn {
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: center;

    @apply bg-blue-800 rounded-lg shadow px-2 py-3;
    @apply font-bold text-gray-100 focus:ring-2 mt-6;

    &--withGoogle {
      background-color: #fff;
      color: #000;
    }

    &--withEmail {
      @apply mt-12;
    }
  }
}

.link {
  @apply text-pink-600 hover:underline;

  &--darker {
    @apply text-gray-600;
  }
}

.checkbox {
  @apply bg-white rounded border-2 border-pink-600 w-5 h-5 inline-flex flex-shrink-0 justify-center items-center mr-1 focus-within:border-pink-500 bg-pink-600;

  -webkit-tap-highlight-color: transparent;

  input {
    @apply opacity-0 absolute;
  }
}

.checkbox__tick {
  @apply fill-current hidden w-2.5 h-2.5 pointer-events-none;

  color: #fff;
}

.checkbox input:checked + .checkbox__tick {
  display: block;

  @apply bg-pink-600;
}

.hidden-label {
  /* https://github.com/GoogleChrome/lighthouse/issues/8435 */
  position: absolute;
  top: -1000000px;
  left: -1000000px;
}

.inline-block {
  display: inline-block;
}
