.sidebar-item {
  height: rem(28px);

  display: flex;
  align-items: center;

  font-size: rem(16px);

  transition: color 0.25s ease;

  color: #a9a9a9;

  cursor: pointer;

  &:hover {
    color: #d7d7d7;
  }

  &--active {
    font-weight: bold;
    font-size: 16px;
    color: #e4e4e4;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  position: absolute;
  height: calc(var(--app-height) - var(--vault-header-full-height));
  top: var(--vault-header-full-height);
  bottom: 0;
  z-index: 1000;

  background-color: #2c2d2f;

  @media (min-width: 768px) {
    position: inherit;
    height: 100%;
  }

  &__header {
    display: flex;
    padding: rem(18px) rem(24px);
    background-color: #353739;
  }

  &__header-vault-name {
    margin-left: rem(14px);

    font-weight: bold;
    color: #e9e9e9;
    font-size: rem(20px);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: rem(4px);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    margin: rem(18px) rem(36px);
  }

  &__menu-link {
  }

  &__menu-link-title {
    margin-left: rem(12px);
  }

  &__brand {
    @apply ml-7 mb-5;

    margin-top: auto;
  }

  &__links {
    display: flex;
    flex-direction: column;

    @apply mt-5 ml-5 mr-5;
  }

  &__link {
    @apply pb-3;

    text-align: left;

    cursor: pointer;

    &:last-child {
      @apply mb-0;
    }
  }

  &__menu-container {
    overflow: scroll;
  }

  &__notes-tree {
    margin: 0 rem(12px);
  }
}

.notes-tree {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  &__node {
  }

  &__node-children {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
    margin-top: rem(4px);

    &--with-left-margin {
      margin-left: rem(22px);
    }
  }

  &__node-icon {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: rem(20px);
    margin-right: rem(12px);
  }

  &__node-title {
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
  }

  &__node-info {
    border-radius: 5px;

    transition: background-color 0.05s ease-out;

    &--active {
      background: #535354;
    }

    &:hover {
      background: #535354;
    }
  }

  &__expand-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    width: 14px;
    height: 14px;
    margin: 0 rem(8px);

    cursor: pointer;

    transition: background-color 0.25s ease;
    border-radius: 2px;

    &--invisible {
      visibility: hidden;
    }

    &:hover {
      background: #727272;
    }
  }
}
