.vaults-navbar {
  @apply bg-gray-800 px-4 py-2;

  position: absolute;

  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;

  &__logout {
    @apply bg-gray-700 py-1 px-3 rounded transition-all text-sm;

    margin-left: auto;

    &:hover {
      --tw-bg-opacity: 0.85;
    }
  }
}

.vaults-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overscroll-behavior: contain;

  overflow: auto;
}

.vaults {
  @apply max-w-screen-md mx-auto mt-10 px-6;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @apply grid gap-6;

  &__box {
    display: flex;

    position: relative;

    @apply px-4 py-3 transition-all;
    @apply rounded-xl bg-gray-800 bg-opacity-80 shadow;

    grid-auto-flow: column;

    backdrop-filter: blur(5px);
    min-height: 100px;

    &:hover {
      @apply bg-opacity-70;
    }
  }

  &__create-box {
    cursor: pointer;
    align-items: center;
  }

  &__vault-name {
    @apply font-bold;
  }

  &__vault-create-title {
    @apply font-bold;
  }

  &__add-icon {
    @apply bg-gray-700 p-1;
    @apply bg-opacity-80;

    margin-left: auto;
    border-radius: 100%;
  }

  &__settings {
    @apply transition top-2 right-2 text-gray-500 hover:text-gray-600;

    position: absolute;

    svg {
      @apply transition w-6 h-6;
    }
  }
}

.vault-form-modal {
  &__header {
    @apply text-gray-100 text-3xl font-bold pt-2;
  }
}

.vault-form {
}
