.header {
  @apply flex items-center justify-between py-4 bg-gray-900 mb-3;

  &__brand {
    @apply text-gray-100 text-3xl ml-10 font-bold;
  }

  &__brand-dot {
    @apply inline text-pink-600 ml-0.5;
  }

  &__calendar-wrapper {
    @apply mr-8 relative;
  }

  &__calendar-icon {
    @apply text-pink-600;
  }

  &__calendar {
    display: none;

    @apply top-2 right-0 -mr-2;

    position: absolute;
    min-width: 350px;

    &--opened {
      display: block;
    }
  }
}
