.syncState {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

.syncState__info {
  font-size: 1rem;
  padding: 5px;
  min-width: 300px;
}

.syncState__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 82, 82, 1);

  margin-top: 1px;
}

.syncState__dot--isSyncing {
  background: rgba(255, 177, 66, 1);
  box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
  animation: pulse-yellow 0.8s infinite;
}

.syncState__dot--isSynced {
  background: green;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}
